:root {
  --pink: #FFA4D2;
  --purple: #69005A;
  --black: #444141;
  --cream: #FFE0E4;
  --white: #ffffff; 
  --font-size-large: 44px;
}

.App {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-areas:
  'partOne partTwo'
  'projects projects'
  'skillsAndContact skillsAndContact';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.PartOne {
  grid-area: partOne;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondPart {
  grid-area: partTwo;
}

.secondPart h2 {
  text-align: left;
  font-size: 36px;
}

.secondPart h3 {
  margin-top: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.color-purple{
  color: var(--purple);
}

h2 {
  text-align: center;
  font-size: var(--font-size-large);
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 24px;
  text-transform: uppercase;
}

.flex {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.container > h2 {
  margin-top: 16px;
}

p {
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 16px;
  margin-bottom: 40px;
}

.App-link {
  color: #61dafb;
}

.profile {
  width: 50%;
  height: 250px;
  margin-bottom: 20px;
  background-color: var(--pink);
  display: grid;
  justify-items: center;
  align-items: center;
}

.connectwithme {
  width: 60%;
  text-align: center;
}

.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container .bi {
  font-size: 28px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.buttons button {
  width: 180px;
  height: 46px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}

.light {
  color: var(--purple);
  background-color: var(--cream);
}

.dark {
  background-color: var(--purple);
  color: var(--cream);
}

div.page {
  min-width: fit-content;
  max-width: 1200px;
}

div.Projects {
  grid-area: projects;
}

.Projects > .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin: 0 4rem;
  align-items: start;
}

.project {
  width: 200px;
  height: 250px;
  background-color: var(--cream);
  position: relative;
  box-shadow: 0 0 2px var(--purple);
}

.project > .info {
  width: 100%;
  min-height: 25%;
  background-color: var(--white);
  position: absolute;
  bottom: 0;
}

h2.header {
  text-transform: uppercase;
  text-align: unset;
  padding: 2.5rem 3rem;
}

.info p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.info p.title {
  font-weight: bold;
  font-size: 24px;
  padding: 4px 0 0 0;
}

.info p.links {
  font-size: small;
  text-transform: lowercase;
}

.SkillsAndContact {
  grid-area: skillsAndContact;
}

.SkillsAndContact p {
  padding: 0 3rem;
  margin: 0;
  text-align: center;
}

.Form {
  display: grid;
  gap: 1rem;
  width: 64%;
  margin: auto;
}

div.full {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

input.half {
  width: 44%;
}

input, textarea {
  color: var(--purple);
  background-color: var(--cream);
}

input, textarea, button.dark {
  padding: 16px;
  border: none;
  outline: none;
  resize: none;
  font-weight: bold;
}

button {
  cursor: pointer;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Loader */
.loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}

@keyframes l27 {
  100% {transform: rotate(1turn)}
}